  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">Propertydweller</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% if current_user.present? %>
          <li><a href="/tenancies">My Properties</a>
            <li><a href="/properties">Properties</a></li>
            <% end %>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if current_user.present? %>
            <li>Welcome <%= current_user.user_name %> </li>
            <li><a href="/users/edit">Edit Profile</a></li>
            <li><a href="/users/sign_out" data-method="delete" rel="nofollow">Sign out</a></li>
            <% else %>
            <li><a href="/users/sign_up">Sign up</a></li>
            <li><a href="/users/sign_in">Sign in</a></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
